{namespace a=Tx_Assets_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />
<div class="itemList">
	<f:for each="{items}" as="item">
		<div class="item">
			<h2>{item.name}</h2>
			<p class="startDateTime">{item.startDateTime -> f:format.date()}</p>
			
			<f:for each="{item.itemAssets}" as="itemAsset" iteration="itemAssetIterator">
				<f:if condition="{itemAsset.asset -> a:isImage()}">
					<f:render partial="ItemAsset/Image" arguments="{itemAsset: itemAsset, itemAssetIterator: itemAssetIterator}" />
				</f:if>
				<f:if condition="{itemAsset.asset -> a:isYoutube()}">
					<f:render partial="ItemAsset/YouTube" arguments="{itemAsset: itemAsset, itemAssetIterator: itemAssetIterator}" />
				</f:if>
			</f:for>

			<div class="text">
				<f:cObject typoscriptObjectPath="lib.rteTransformation" data="{item.preview}" />
			</div>
		</div>
	</f:for>
</div>


</f:section>