{namespace a=Tx_Assets_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

<div class="itemsList">
	<f:for each="{items}" as="item">
		<div class="item">
			<h2>{item.name}</h2>
			<p class="start">{item.start -> f:format.date(format: 'd.m.Y')}</p>
			
			<f:for each="{item.itemAssets}" as="itemAsset" iteration="itemAssetIterator">
				<f:if condition="{itemAsset.asset -> a:isImage()}">
					<f:render partial="ItemAsset/Image" arguments="{itemAsset: itemAsset, itemAssetIterator: itemAssetIterator}" />
				</f:if>
				<f:if condition="{itemAsset.asset -> a:isYoutube()}">
					<f:render partial="ItemAsset/YouTube" arguments="{itemAsset: itemAsset, itemAssetIterator: itemAssetIterator}" />
				</f:if>
			</f:for>

			<div class="text">
				<f:format.html>{item.preview}</f:format.html>
			</div>
		</div>
	</f:for>
</div>


</f:section>