<label for="name">
	<f:translate key="tx_items_domain_model_item.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="preview">
	<f:translate key="tx_items_domain_model_item.preview" />
</label><br />
	<f:form.textfield property="preview" /><br />
<label for="bodyText">
	<f:translate key="tx_items_domain_model_item.body_text" />
</label><br />
	<f:form.textfield property="bodyText" /><br />
<label for="priorityItem">
	<f:translate key="tx_items_domain_model_item.priority_item" />
</label><br />
	<f:form.checkbox property="priorityItem" value="1" /><br />
<label for="start">
	<f:translate key="tx_items_domain_model_item.start" />
</label><br />
	<f:form.textfield property="start"  value="{item.start->f:format.date()}" /><br />
<label for="end">
	<f:translate key="tx_items_domain_model_item.end" />
</label><br />
	<f:form.textfield property="end"  value="{item.end->f:format.date()}" /><br />