<table class="tx-items" >
	<tr>
		<td>
			<f:translate key="tx_items_domain_model_item.name" />
		</td>
		<td>
			{item.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_items_domain_model_item.preview" />
		</td>
		<td>
			{item.preview}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_items_domain_model_item.body_text" />
		</td>
		<td>
			{item.bodyText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_items_domain_model_item.priority_item" />
		</td>
		<td>
			{item.priorityItem}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_items_domain_model_item.start_date_time" />
		</td>
		<td>
			{item.startDateTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_items_domain_model_item.end_date_time" />
		</td>
		<td>
			{item.endDateTime -> f:format.date()}
		</td>
	</tr>
</table>